.cardProjectsContainer {
  display: grid;
  height: 20rem;
  width: 70%;
  margin: auto;

  grid-template-rows: 60% 40%;

  grid-template-areas: "image" "text";
  font-family: roboto;
  background: white;
  border-radius: 1.5rem;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  text-align: center;

  transition: 0.5s ease;
  cursor: pointer;
}

.cardProjectsContainer .card-image{
  grid-area: image;
  background: red;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.cardProjectsContainer .card-text {
grid-area: text;
}

.cardProjectsContainer .card-text p {
  color: grey;
  font-size: 1rem;
  font-weight: 300;
}

.cardProjectsContainer .card-text h2 {
  font-size: 2.5rem;
}
.cardProjectsContainer:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}