.contactContainer {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;

  height: 70%;
  width: 100%;
  max-width: 500px;

  border-radius: 10px;
  padding: 3rem;
  margin: 10px;
}

.contactContainer h1 {
  text-align: center;
  color: #ddd;
  margin-bottom: 1rem;
}

.contact-form {
  max-width: 800px;
  margin: auto;
  padding: 0 10px;
  height: 100%;

}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: .8rem 0;
  border: 0;
  background: #111;
  padding: 1rem 3rem;
  outline: none;
  color: #ddd;
}

.contact-form-text:focus {
  box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text {
  resize: none;
}

.contact-form-btn {
  border: 0;
  margin-top: 2rem;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.contact-form-btn:hover {
  background: #2980b9;
}

@media (max-width:720px) {
  .contactContainer{
    height: 65%;
  }
}
