.conteudoContainer {
  background-color: var(--p7);
  height: 99%;
  margin: .5rem;
  border-radius: 2rem;
  position: relative;
  
}

.conteudoContainer > div {
  border-radius: 2rem;
  
  padding: 2.3rem;
}