.iconsSocialMediaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; 
}

.iconsSocialMediaContainer ul {
  position: relative;
  display: flex;
}

.iconsSocialMediaContainer ul li {
  position: relative;
  margin: 0 1rem;
  cursor: pointer;
  list-style: none;
}

.iconsSocialMediaContainer ul li a {
  text-decoration: none;

}

.iconsSocialMediaContainer ul li a .fa {
  font-size: 4rem;
  color: #222;
}

.iconsSocialMediaContainer ul li::before {
  font-family: fontAwesome;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 4rem;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

/*
*
* PINTANDO OS FILHOS
*
*/


.iconsSocialMediaContainer ul li:nth-child(1)::before {
  content: '\f082';
  color: #1da1f2;
  border-bottom: 4px solid #1da1f2;
}

.iconsSocialMediaContainer ul li:hover::before {
  height: 100%;
}

.iconsSocialMediaContainer ul li:nth-child(2)::before {
  content: '\f092';
  color: #1da1f2;
  border-bottom: 4px solid #3E75C3;
}

.iconsSocialMediaContainer ul li:hover::before {
  height: 100%;
}

.iconsSocialMediaContainer ul li:nth-child(3)::before {
  content: '\f08c';
  color: #007BB5;
  border-bottom: 4px solid #007BB5;
}

.iconsSocialMediaContainer ul li:hover::before {
  height: 100%;
}


@media (max-width:850px) {
  .iconsSocialMediaContainer ul {
    flex-direction: column;
  }

  .iconsSocialMediaContainer ul {
    height: 80%;
    justify-content: space-around;
  }
}
 