.menuContainer{
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menuContainer nav {
  width: 100%;
}

.menuContainer ul {
  list-style: none;
  padding: 0;
}
.menuContainer li {
  display: flex;
}


