.postContainer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  justify-content: space-around;
}

.postContainer .card {
  margin: 3.5rem 0;
  position: relative;
  width: 40%;
  min-width: 100px;
  height: 200px;
}

.postContainer .card .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.postContainer .card .face.face1 {
  border-radius: 10px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform-origin: bottom;
}

.postContainer .card .face.face1 img {
  width: 100%;
}

.postContainer .card .face.face1 h3 {
  margin: 10px 0 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.postContainer .card:hover .face.face1 {
  transform: translateY(-100%) rotateX(90deg);
  background: #ff0057;
}

.postContainer .card .face.face2 {
  border-radius: 10px;
  background: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transform-origin: top;
  transform: translateY(100%) rotateX(90deg)
}

.postContainer .card:hover .face.face2 {
  transform: translateY(0%) rotateX(0deg)
}