.redesSociaisContainer {
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: space-around;
  padding: .5rem .5rem;
  font-size: 2rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.redesSociaisContainer .iconGitHub {
  cursor: pointer;
  color: #3B71BD;
}

.redesSociaisContainer .iconFacebook {
  cursor: pointer;
  color: #1673EB;
}

.redesSociaisContainer .iconLinkedin {
  cursor: pointer;
  color: #81CA35;
}

.redesSociaisContainer i {
  position: relative;
}

.redesSociaisContainer i:hover {
  top: -4px;
  box-shadow: 0 4px 10px;
  transition: all .9s ease-in-out;
  background: none;
}