.portfolioContainer {
  padding: 1rem;
  background: var(--p8);
  height: 102%;
}

.portfolioContainer .textoContainer {
 margin-bottom: 4rem;
 text-align: center; 
}

.portfolioContainer .textoContainer h1 {
  font-size: 3rem;
  font-weight: 1000;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.portfolioContainer .projetosContainer{
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 3rem 1rem;
}

@media (max-width:700px) {
  .portfolioContainer .projetosContainer {
    grid-template-columns: 1fr;
  }
}