.sobreContainer {
  background: var(--p8);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sobreContainer h1 {
  margin: 3rem 0px 0px 0px;
  font-weight: 1000;
  color: var(--p1);
  margin-bottom: 5px;
  border-bottom: 1px solid var(--p6);
}

.sobreContainer .biografiaContainer {
  padding: .8rem;
  color: black;
  width: 90%;
  background: white;
  border-radius: 10px;
  margin: 10px auto;
  font-size: 1.2rem;

  font-weight: 1000;
}

.sobreContainer .biografiaContainer p:nth-child(1) {
  margin-bottom: 1rem;
}

.sobreContainer .postContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0rem;
  width: 90%;
  margin: auto;
}

@media (max-width:750px) {
  .sobreContainer .postContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:520px) {
  .sobreContainer .postContainer {
    grid-template-columns: 1fr;
  }
}