.sobreContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.sobreContainer .postsContent {
  display: flex;
  flex-wrap: wrap;
}

.sobreContainer > p {
  background-color: white;
  border-radius: 1rem;
  font-weight: 1000;
}