.sobreContainer {
  background: var(--p8);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.sobreContainer h1 {
  margin: 3rem 0px 0px 0px;
  font-weight: 1000;
  color: var(--p1);
}

.sobreContainer .biografiaContainer {
  padding: .8rem;
  color: black;
  width: 90%;
  margin: auto;
  font-size: 1.2rem;

  font-weight: 1000;
}

.sobreContainer .postContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}