* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 13px;

  --white: #fff;
  --background: #f2f3f5;
  --gray-line: #DCDDE0;
  --text: #666666;
  --text-highlight: #B3B9FF;
  --title: #2E384D;
  --red: #E83F5B;
  --green: #4CD62B;
  --blue: #5965E0;
  --blue-dark: #4953B8;
  --blue-twitter: #2AA9E0;

  --p1: #010101;
  --p2: #0A0A0A;
  --p3: #111111;
  --p4: #1B1B1B;
  --p5: #272727;
  --p6: #323232;
  --p7: #4C4C4C;
  --p8: #797979;
}

body {
  background: var(--p1);
  color: var(--text);
}

body, input, textarea, button {
  font: 400 1rem 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}